
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<p>
    <a asp-controller="Categories" asp-action="Index">Sukurti prekes kategorija</a>
</p>
<p>
    <a asp-controller="Components" asp-action="Index">Pridėti preke </a>
</p>