
@{
    ViewData["Title"] = "CompleteRequest";
}

    <div class="card text-center">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <h5 class="card-title">Užsakymas beveik baigtas!</h5>

            <p class="card-text">Dėkojame už užsakymą. Per artimiausias dvi dienas su jumis susisieks konsultantas. Galite rezervuoti daugiau prekių, užsakymas bus apdorotas per dvi darbo dienas.</p>

        </div>
        <div class="card-footer text-muted">
           
        </div>
    </div>

