@model AnotherProject.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">


        <form asp-action="Create" enctype="multipart/form-data" >

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryType" class="control-label"></label>
                <input asp-for="CategoryType" class="form-control" />
                <span asp-validation-for="CategoryType" class="text-danger"></span>
            </div>
            <div>
                    <fieldset>
                        <legend> Upload Image </legend>
                        <label for="CategoryImage">Image</label>
                        <br/>
                        <input type="file" name="files" />
                        <br/>
                    </fieldset>
                    <br />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

